{% extends 'base.html.twig' %}

{%  block body %}
    <div class="w-100 text-center pt-5">
        <img class="mt-5" src="{{ asset('resources/logo.png') }}"/>
        <div class="mt-5">Bienvenue sur <strong>Volleyball Championship Manager</strong>, votre gestionnaire de championnats de volleyball !</div>
    </div>
{% endblock %}