<div class="d-flex flex-column col-6 mx-auto">
    <a class="btn btn-secondary m-2" href="">Equipes participantes</a>
    <a class="btn btn-secondary m-2" href="{{ path('edit_specification_point_championship', {championshipId: championship.id}) }}">Changer les règles de points</a>
</div>
