{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter equipe</h1>

    <div class="col-12 col-md-6 mx-auto">
        {{ form_start( addTeamForm ) }}

            <div class="form-group">
                {{ form_label( addTeamForm.name, "Nom de l'équipe") }}
                {{ form_widget( addTeamForm.name, {'attr': {'class': 'form-control'}} ) }}
            </div>

            <button class="btn btn-primary" type="submit">Ajouter l'équipe</button>

        {{ form_end( addTeamForm ) }}
    </div>

{% endblock %}