{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-4">{{ club.name }}</h1>

    {% include 'club/partial/menu.html.twig' %}

    <h2>Les terrains</h2>

    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" href="{{ path("add_pitch_club", {clubId: club.id}) }}"><i class="fas fa-plus"></i> Ajouter un terrain</a>
    </div>

    <div class="d-flex flew-wrap justify-content-around m-4">

        {% if club.pitches | length > 0 %}

            {% for pitch in club.pitches %}

                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-center text-uppercase">Terrain {{ loop-index }}</div>
                        <hr>
                        <p class="card-text">{{ pitch.address }}</p>
                    </div>
                </div>

            {% endfor %}

        {% else %}

            <div>Aucun terrain.</div>

        {% endif %}


    </div>

{% endblock %}