{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center my-2">Les clubs</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary" href="{{ path('add_club') }}"><i class="fas fa-plus"></i> Ajouter un club</a>
        </div>
    {% endif %}

    <span>
        <ul class="list-group my-2" id="clubs-list">
            {% if clubs | length > 0 %}

                {% for club in clubs %}

                    <li class="list-group-item d-flex justify-content-between m-1 rounded">
                        <span>{{ club.name }}</span>
                        <div>
                            <a class="btn btn-outline-info" href="{{ path('page_club', {clubId: club.id}) }}">Voir page</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <button class="btn btn-outline-danger supprimer" data-Id="{{ club.id }}">Supprimer club</button>
                            {% endif %}
                        </div>
                    </li>

                {% endfor %}

            {% else %}

                <li class="list-group-item d-flex justify-content-between m-1 rounded">Aucun club existant</li>

            {% endif %}
        </ul>
    </span>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            let id;
            $(document).on('click', '.supprimer', function() {
                id = $(this).attr('data-Id');
                $('.modal-body').find('p').html("<strong>Attention!</strong><br/>La suppression de ce club supprimera toutes les équipes et terrains qui lui sont reliés." +
                                                "<br/>Souhaitez-vous continuer?");
                $('#modal').modal('show');
            });
            $('#modal').on('show.bs.modal', e => {
                $(this).find('.btn-success').on('click', function(){
                    $.ajax({
                        url: '/club/'+id+'/remove'
                    });
                    $('#modal').modal('hide');
                    $("#clubs-list").parent().load(document.URL + " #clubs-list");
                });
            });
        })
    </script>
{% endblock %}